@model ETicaret2023.Models.Kategoriler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <h4>Kategoriler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p>
            @Html.ActionLink("Düzenle", "Edit", new { id = Model.KategoriID }, new { @class = "btn btn-success" })
            @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-warning" })
        </p>
    </div>
    
</div>

