
@{
    ViewBag.Title = "Hatali";
}

<div class="row">
    <div class="col-md-12">
        <h2>Sipariş Tamamlanamadı</h2>
        <p>Üzgünüm, sipariş işlemi sırasında bir hata oluştu</p>
        @ViewBag.Hata
    </div>
</div>
